<div style="padding-left: 300px;padding-top:100px;">
    <h2>Employee Details</h2>
    <br>
        <br>
            <br>
                <table border="0">
                    <tr>
                        <th>Employee ID</th>
                        <td>{{empData?.employee_id}}</td>

                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{empData?.display_name}}</td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td>{{empData?.designation}}</td>
                    </tr>
                    <tr>
                        <th>DOB</th>
                        <td>{{empData?.dob}}</td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td>{{empData?.department?.name}}</td>
                    </tr>
                    <tr>
                        <th>About Me</th>
                        <td>{{empData?.user?.about_me}}</td>
                    </tr>
                    
                </table>
                <br>
                    <br>
                    <h1>Assessment History</h1>
                    <table *ngFor='let attemps of assessmentAttempt'>
                     
                        <tr>
                            
                        </tr>
                        <tr>
                         <th rowspan="15">{{attemps?.assessment.title}}</th> 
                        </tr>
                        <tr>
                            <th>ASSESSMENT TYPE</th>
                            <td>{{attemps?.assessment.assessment_type}}</td>
                            </tr>
                      
                        <tr>
                        <th>START DATE</th>
                        <td>{{attemps?.assessment.start_date}}</td>
                        
                        </tr>
                        <tr>
                         <th>END DATE</th>
                         <td>{{attemps?.assessment.end_date}}</td>
                     
                        </tr>
                        <tr>
                        <th>ASSESSMENT TOTAL SCORE</th>
                        <td>{{attemps?.total_score}} out of {{attemps?.assessment.total_score}}</td>
                
                        </tr>
                        <tr>
                            <th>ATTEMPT DATE</th>
                            <td>{{attemps?.attempt_date}}</td>
                 
                        </tr>
                        <!-- <tr>
                            <th>Competencies DETAILS</th>
                            <div *ngFor="let competencies of competenciesData">   
                                         <table >
                                             <tr>
                                                 <th>Competency Name</th>
                                                 <td>{{competencies?.competency_name}}</td>
                                             </tr>
                                              <tr>
                                                 <th>Level Name</th>
                                                 <td>{{competencies?.level_name}}</td>
                                                 </tr>
                                            </table> 

                          </div>
                        </tr>               -->
                        <tr>
                       <th>ASSESSMENT ACTIVITY DETAILS</th>
                       <div *ngFor="let activityAttemp of assessmentActivityAttempt">
                        <div *ngIf="activityAttemp?.assessment_attempt.assessment_id==attemps?.assessment.id">


                            <div *ngFor="let activity of activity">
                                <div *ngIf="activity?.id==activityAttemp?.assessment_activity_id">
                                    
                                    <table >
                                        <tr>
                                            <th>Activity title</th>
                                            <td>{{activity?.activity_title}}</td>
                                        </tr>
                                         <tr>
                                            <th>Activity TYPE</th>
                                            <td>{{activity?.activity_type}}</td>
                                            </tr>
                                       </table> 
                                </div>
                              </div>




                            <table>
                                <tr>
                                    <th>Status</th>
                                    <td>{{activityAttemp?.status}}</td>
                                </tr>
                                 <tr>
                                    <th>Time Taken</th>
                                    <td>{{activityAttemp?.time_consumed}}</td>
                                    </tr>
                                    <tr>
                                        <th>Re Attempted Status</th>
                                        <td>{{activityAttemp?.is_reattempt}}</td>
                                        </tr>
                               </table>
                               <br>
                               <br>
                        </div>
                      </div>
                       
                        </tr>
                        <br><br>
                       </table>
                     
          
                                    <br>
                                    <br><br>
                                    <br><br>
                                    <br><br>
                                    <br>
    </div>
